@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	background-image: none;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
}

table,
caption,
tr,
th,
td,
ol,
ul,
p,
div
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

li
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	page-break-inside: avoid;
}

.Body
{
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CBody
{
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.CellBody
{
	color: #000000;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CCellBody
{
	color: #000000;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.CellHeading
{
	color: #003366;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: center;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CCellHeading
{
	color: #003366;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Indented2
{
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CIndented2
{
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Indented3
{
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CIndented3
{
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.TableTitle
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTableTitle
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Title
{
	color: #9C9C9C;
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0.0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTitle
{
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-indent: 0.0em;
	white-space: normal;
	text-decoration: none;
}

.toc1
{
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTOC1
{
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.toc2
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	margin-left: 2em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTOC2
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.toc3
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin-left: 4em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTOC3
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Footnote
{
	font-size: 9px;
	vertical-align: super;
}

li.mc-CFootnote
{
	font-size: 9px;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}

span.expandtext
{
	color: #008000;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
}

a.dropspot
{
	cursor: hand;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #3366cc;
	text-decoration: none;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

span.glosstext
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

div.droptext
{
	color: #000000;
	margin-top: 0px;
	margin-left: 3pt;
	margin-bottom: 0pt;
}

h2
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	margin-top: 20pt;
	text-decoration: none;
	page-break-after: avoid;
	mc-heading-level: 0;
	color: #797979;
	padding-top: 5px;
	padding-bottom: 2px;
	border-top-style: solid;
	border-top-width: 2px;
	font-size: 15px;
}

li.mc-H2
{
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
}

h3
{
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	margin-left: 0em;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
	margin-right: 0px;
	margin-bottom: 14pt;
	margin-top: 20pt;
	mc-heading-level: 0;
	color: #797979;
}

li.mc-h3
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
}

h4
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin-left: 0em;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
	margin-bottom: 12pt;
	margin-top: 12pt;
	font-weight: bold;
	font-style: normal;
	margin-right: 0px;
	mc-heading-level: 0;
}

li.mc-h4
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
}

.WithinList
{
	margin-left: 1.0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.mc-CWithinList
{
	
}

.WListBullet
{
	margin-left: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.mc-CWListBullet
{
	
}

.WListNumber
{
	margin-left: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.mc-CWListNumber
{
	
}

p.CmdSyntax
{
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	margin-left: 3pt;
	margin-bottom: 16pt;
	margin-top: 10pt;
}

li.CmdSyntax
{
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 16pt;
	margin-top: 10pt;
	margin-left: 3pt;
}

span.CmdItalics
{
	font-style: italic;
	font-weight: normal;
}

p.Shaded
{
	background-color: #dddddd;
	font-family: "Courier New", monospace;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 13pt;
	margin-left: 3pt;
}

li.Shaded
{
	background-color: #dddddd;
	font-family: "Courier New", monospace;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 13pt;
	margin-left: 3pt;
}

h1
{
	margin-bottom: 6pt;
	color: #555555;
	font-size: 19px;
}

li.mc-H1
{
	font-size: 18px;
	color: #003366;
}

p.Indented1
{
	margin-left: 3pt;
	margin-top: 10pt;
	margin-bottom: 16pt;
}

li.Indented1
{
	margin-top: 10pt;
	margin-bottom: 16pt;
	margin-left: 15pt;
}

p.TableHead
{
	text-align: Left;
	font-weight: bold;
}

li.TableHead
{
	text-align: Left;
	font-weight: bold;
}

p.TableBody
{
	font-style: normal;
	line-height: Normal;
	margin-top: 6px;
	margin-bottom: 6px;
}

li.TableBody
{
	font-style: normal;
	line-height: Normal;
	margin-top: 6px;
	margin-bottom: 6px;
}

p.BarLink
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 20pt;
	margin-top: 8pt;
}

li.BarLink
{
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 20pt;
	margin-top: 8pt;
}

p.IndentTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 3pt;
	x-on-hover: none;
}

li.IndentTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	x-on-hover: none;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	margin-left: 4%;
}

p.NormalTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	x-on-hover: none;
	margin-left: 0pt;
	line-height: 8pt;
}

li.NormalTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	x-on-hover: none;
	margin-left: 0pt;
	line-height: 8pt;
}

a.popupspot
{
	font-size: 12px;
	text-decoration: underline;
}

p.ErrorList
{
	x-on-hover: none;
	color: #3366cc;
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-decoration: none;
}

li.ErrorList
{
	x-on-hover: none;
	color: #3366cc;
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-decoration: none;
}

span.Pending
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

p.ErrorListBefore
{
	margin-top: 0em;
	margin-bottom: 0em;
}

li.ErrorListBefore
{
	margin-top: 0em;
	margin-bottom: 0em;
}

p.PopupText
{
	font-size: 11px;
	margin-top: 0pt;
}

li.PopupText
{
	font-size: 11px;
	margin-top: 0pt;
}

p.TableBodyTight
{
	font-style: normal;
	line-height: Normal;
	margin-top: 6px;
	margin-bottom: 6px;
}

li.TableBodyTight
{
	font-style: normal;
	line-height: Normal;
	margin-top: 6px;
	margin-bottom: 6px;
}

p.PopupTextHeading
{
	font-weight: bold;
	margin-top: 0pt;
	margin-bottom: 8pt;
	line-height: Normal;
	font-size: 12px;
}

li.PopupTextHeading
{
	font-weight: bold;
	margin-top: 0pt;
	margin-bottom: 8pt;
	line-height: Normal;
	font-size: 12px;
}

span.CourierNew
{
	font-family: Courier New, monospace;
}

p.CmdQRG
{
	font-size: 11px;
	margin-top: 8pt;
	margin-bottom: 6pt;
	margin-left: 0.25in;
}

li.CmdQRG
{
	font-size: 11px;
	margin-top: 8pt;
	margin-bottom: 6pt;
	margin-left: 12pt;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #3366cc;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	color: #008000;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

MadCap|expandingBody.glossterm
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

textPopup.popupspot
{
	font-size: 12px;
	text-decoration: underline;
	color: #e90029;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	margin-bottom: 10 pt;
	margin-top: 20 pt;
}

li.Indented2
{
	margin-top: 10pt;
	margin-bottom: 16pt;
	margin-left: 10pt;
}

li.Indented3
{
	margin-top: 10pt;
	margin-bottom: 16pt;
	margin-left: 10pt;
}

li.IndentTight2
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	margin-left: 7%;
}

li.IndentTight3
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	margin-left: 10%;
}

p.IndentListPlain
{
	margin-left: 3pt;
	margin-bottom: 10pt;
	margin-top: 8pt;
}

a.Popup
{
	mc-popup-width: 6in;
	mc-popup-height: 5in;
}

ul.UL_Disc
{
	list-style: disc;
}

MadCap|dropDown
{
	font-size: 18pt;
	color: #ba55d3;
}

dd
{
	padding-left: 0px;
	left: 0px;
	text-indent: 0px;
	margin-left: 10px;
}

ol
{
	margin: 0pt;
}

ul
{
	margin-left: 10px;
	margin: 0.0em;
}

small
{
	font-weight: normal;
}

span.Bold
{
	font-style: normal;
	font-weight: bold;
}

br.Bold
{
	font-weight: bold;
}

br.GrayHighlighter
{
	background-color: #dcdcdc;
}

span.GrayHighlighter
{
	background-color: #dcdcdc;
}

MadCap|xref
{
	mc-format: '{paratext}';
}

tr
{
	vertical-align: top;
	page-break-inside: avoid;
}

MadCap|conceptLinkControlListItemLink:visited
{
	color: #ffffff;
}

MadCap|helpControlListItemLink:visited
{
	color: #ffffff;
}

MadCap|keywordLinkControlListItemLink:visited
{
	color: #ffffff;
}

MadCap|relatedTopicsControlListItemLink:visited
{
	color: #ffffff;
}

a:link
{
	text-decoration: none;
	color: #e90029;
}

a:visited
{
	color: #891518;
}

a:hover
{
	x-on-hover: fontchange(color=#CC0033, Underline=on);
	text-decoration: underline;
	color: #e90029;
}

thead
{
	page-break-inside: avoid;
}

table
{
	
}

div
{
	page-break-inside: avoid;
}

MadCap|popupHead
{
	color: #e90020;
}

