@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	background-image: none;
	color: #000000;
	font-family: 'Keysight Sans';
}

table,
caption,
tr,
th,
td,
ol,
ul,
p,
div
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
}

li
{
	color: #000000;
	font-size: 14px;
	page-break-inside: avoid;
	font-family: 'Keysight Sans Light';
}

.Body
{
	color: #000000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CBody
{
	color: #000000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.CellBody
{
	color: #000000;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CCellBody
{
	color: #000000;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
	font-size: 12px;
}

.CellHeading
{
	color: #003366;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-family: 'Keysight Sans';
	margin-left: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: center;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CCellHeading
{
	color: #003366;
	font-style: normal;
	font-weight: bold;
	font-family: 'Keysight Sans';
	text-align: center;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
	font-size: 12px;
}

.Indented2
{
	color: #000000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CIndented2
{
	color: #000000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Indented3
{
	color: #000000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	margin-left: 4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CIndented3
{
	color: #000000;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.TableTitle
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTableTitle
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Title
{
	color: #9C9C9C;
	font-family: 'Keysight Sans';
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0.0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTitle
{
	font-family: 'Keysight Sans';
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-indent: 0.0em;
	white-space: normal;
	text-decoration: none;
}

.toc1
{
	color: #003366;
	font-family: 'Keysight Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTOC1
{
	color: #003366;
	font-family: 'Keysight Sans';
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.toc2
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	margin-left: 2em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTOC2
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.toc3
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin-left: 4em;
	margin-top: 0em;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

li.mc-CTOC3
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
}

.Footnote
{
	font-size: 9px;
	vertical-align: super;
}

li.mc-CFootnote
{
	font-size: 9px;
}

a.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
}

span.expandtext
{
	color: #008000;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}

a.dropspot
{
	cursor: hand;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: #3366cc;
	text-decoration: none;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

span.glosstext
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

div.droptext
{
	color: #000000;
	margin-top: 0px;
	margin-left: 3pt;
	margin-bottom: 0pt;
}

h2
{
	margin-left: 0em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	margin-top: 20pt;
	text-decoration: none;
	page-break-after: avoid;
	color: #555555;
	mc-heading-level: 2;
	font-family: 'Keysight Sans Light';
	font-size: 14pt;
	font-weight: normal;
	mc-hyphenate: never;
}

li.mc-H2
{
	color: #003366;
	font-family: 'Keysight Sans';
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
}

h3
{
	color: #000000;
	margin-left: 0em;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
	margin-right: 0px;
	margin-bottom: 14pt;
	margin-top: 20pt;
	mc-heading-level: 3;
	font-family: 'Keysight Sans Light';
	font-size: 12pt;
	font-weight: normal;
}

li.mc-h3
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-weight: bold;
	font-size: 13px;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
}

h4
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	margin-left: 0em;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
	margin-bottom: 12pt;
	margin-top: 12pt;
	font-weight: bold;
	font-style: normal;
	margin-right: 0px;
	mc-heading-level: 0;
}

li.mc-h4
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	text-indent: 0em;
	text-decoration: none;
}

.WithinList
{
	margin-left: 1.0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.mc-CWithinList
{
	
}

.WListBullet
{
	margin-left: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.mc-CWListBullet
{
	
}

.WListNumber
{
	margin-left: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.mc-CWListNumber
{
	
}

p.CmdSyntax
{
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	margin-left: 3pt;
	margin-bottom: 16pt;
	margin-top: 10pt;
}

li.CmdSyntax
{
	font-style: normal;
	font-weight: normal;
	font-family: 'Keysight Sans';
	margin-bottom: 16pt;
	margin-top: 10pt;
	margin-left: 3pt;
}

span.CmdItalics
{
	font-style: italic;
	font-weight: normal;
}

p.Shaded
{
	background-color: #dddddd;
	font-family: "Courier New", monospace;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 13pt;
	margin-left: 3pt;
}

li.Shaded
{
	background-color: #dddddd;
	font-family: "Courier New", monospace;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 13pt;
	margin-left: 3pt;
}

h1
{
	margin-bottom: 6pt;
	color: #555555;
	mc-heading-level: 1;
	page-break-before: always;
	font-family: 'Keysight Sans Light';
	font-size: 16pt;
	font-weight: normal;
}

li.mc-H1
{
	font-size: 20px;
	color: #003366;
}

p.Indented1
{
	margin-left: 3pt;
	margin-top: 10pt;
	margin-bottom: 16pt;
}

li.Indented1
{
	margin-top: 10pt;
	margin-bottom: 16pt;
	margin-left: 15pt;
}

p.TableHead
{
	text-align: Left;
	font-weight: bold;
	font-family: 'Keysight Sans Condensed';
}

li.TableHead
{
	text-align: Left;
	font-weight: bold;
}

p.TableBody
{
	font-style: normal;
	line-height: Normal;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: 'Keysight Sans Condensed';
}

li.TableBody
{
	font-style: normal;
	line-height: Normal;
	margin-top: 8px;
	margin-bottom: 8px;
}

p.BarLink
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	margin-bottom: 20pt;
	margin-top: 8pt;
}

li.BarLink
{
	color: #000000;
	font-family: 'Keysight Sans';
	font-size: 14px;
	margin-bottom: 20pt;
	margin-top: 8pt;
}

p.IndentTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	margin-left: 3pt;
	x-on-hover: none;
}

li.IndentTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	x-on-hover: none;
	text-align: left;
	margin-left: 4%;
	font-weight: inherit;
}

p.NormalTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	x-on-hover: none;
	margin-left: 0pt;
	line-height: 8pt;
}

li.NormalTight
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	x-on-hover: none;
	margin-left: 0pt;
	line-height: 8pt;
}

a.popupspot
{
	font-size: 14px;
	color: #3366cc;
	text-decoration: underline;
}

p.ErrorList
{
	x-on-hover: none;
	color: #3366cc;
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-decoration: none;
}

li.ErrorList
{
	x-on-hover: none;
	color: #3366cc;
	margin-top: 4pt;
	margin-bottom: 4pt;
	text-decoration: none;
}

span.Pending
{
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

p.ErrorListBefore
{
	margin-top: 0em;
	margin-bottom: 0em;
}

li.ErrorListBefore
{
	margin-top: 0em;
	margin-bottom: 0em;
}

p.PopupText
{
	margin-top: 0pt;
	font-size: 12px;
}

li.PopupText
{
	margin-top: 0pt;
	font-size: 12px;
}

p.TableBodyTight
{
	font-style: normal;
	line-height: Normal;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: 'Keysight Sans Condensed';
}

li.TableBodyTight
{
	font-style: normal;
	line-height: Normal;
	margin-top: 8px;
	margin-bottom: 8px;
}

p.PopupTextHeading
{
	font-weight: bold;
	margin-top: 0pt;
	margin-bottom: 8pt;
	line-height: Normal;
	font-size: 14px;
}

li.PopupTextHeading
{
	font-weight: bold;
	margin-top: 0pt;
	margin-bottom: 8pt;
	line-height: Normal;
	font-size: 14px;
}

span.CourierNew
{
	font-family: Courier New, monospace;
}

p.CmdQRG
{
	margin-top: 8pt;
	margin-bottom: 6pt;
	margin-left: 0.25in;
	font-size: 12px;
}

li.CmdQRG
{
	margin-top: 8pt;
	margin-bottom: 6pt;
	margin-left: 12pt;
	font-size: 12px;
}

MadCap|expandingHead.expandspot
{
	color: #008000;
	cursor: hand;
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: #3366cc;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	color: #008000;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: normal;
}

MadCap|expandingBody.glossterm
{
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}

textPopup.popupspot
{
	font-size: 14px;
	color: #3366cc;
	text-decoration: underline;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	margin-bottom: 10 pt;
	margin-top: 20 pt;
}

li.Indented2
{
	margin-top: 10pt;
	margin-bottom: 16pt;
	margin-left: 10pt;
}

li.Indented3
{
	margin-top: 10pt;
	margin-bottom: 16pt;
	margin-left: 10pt;
}

li.IndentTight2
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	margin-left: 7%;
}

li.IndentTight3
{
	margin-bottom: 8pt;
	margin-top: 8pt;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	margin-left: 10%;
}

p.IndentListPlain
{
	margin-left: 3pt;
	margin-bottom: 10pt;
	margin-top: 8pt;
}

a.Popup
{
	mc-popup-width: 6in;
	mc-popup-height: 5in;
}

ul.UL_Disc
{
	list-style: disc;
}

MadCap|dropDown
{
	font-size: 18pt;
	color: #ba55d3;
}

dd
{
	padding-left: 0px;
	left: 0px;
	text-indent: 0px;
	margin-left: 12px;
}

ol
{
	margin: 0pt;
	font-family: 'Keysight Sans Light';
}

ul
{
	margin-left: 12px;
	margin: 0.0em;
	font-family: 'Keysight Sans Light';
}

small
{
	font-weight: normal;
}

span.Bold
{
	font-style: normal;
	font-weight: bold;
}

br.Bold
{
	font-weight: bold;
}

br.GrayHighlighter
{
	background-color: #dcdcdc;
}

span.GrayHighlighter
{
	background-color: #dcdcdc;
}

MadCap|xref
{
	mc-format: '{paratext}';
}

tr
{
	vertical-align: top;
	page-break-inside: avoid;
	font-family: 'Keysight Sans Condensed';
}

MadCap|conceptLinkControlListItemLink:visited
{
	color: #ffffff;
}

MadCap|helpControlListItemLink:visited
{
	color: #ffffff;
}

MadCap|keywordLinkControlListItemLink:visited
{
	color: #ffffff;
}

MadCap|relatedTopicsControlListItemLink:visited
{
	color: #ffffff;
}

a:link
{
	font-family: 'Keysight Sans';
	color: #e90029;
	font-size: 14px;
	text-decoration: none;
}

a:visited
{
	font-family: 'Keysight Sans';
	color: #891518;
}

a:hover
{
	x-on-hover: fontchange(color=#CC0033, Underline=on);
	text-decoration: underline;
	color: #e90029;
}

thead
{
	page-break-inside: avoid;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	font-style: normal;
}

table
{
	
}

div
{
	page-break-inside: avoid;
}

p.TOC1
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	float: left;
	clear: left;
	mc-leader-offset: 10pt;
	color: #e90029;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC2
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC3
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC4
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC5
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC6
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-size: 11pt;
	mc-leader-format: 'dot';
}

p.TOC7
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC8
{
	mc-leader-align: left;
	mc-auto-number-position: inside-head;
	font-size: 10pt;
	mc-leader-format: 'dot';
}

p.TOC9
{
	color: #e90029;
	font-family: 'Keysight Sans';
	font-style: normal;
	font-weight: bold;
	margin-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: left;
	text-indent: 0em;
	white-space: normal;
	text-decoration: none;
	mc-leader-align: left;
	mc-auto-number-format: '{chapnum} ';
	font-size: 10pt;
	mc-leader-format: 'dot';
}

h6
{
	mc-heading-level: 0;
}

p.IndexHeading
{
	color: #e90029;
}

MadCap|tocProxy
{
	mc-auto-number-position: float-left;
	mc-leader-align: left;
	mc-leader-offset: 1px;
	mc-leader-format: 'none';
}

p.Index1
{
	color: #000000;
}

MadCap|indexProxy
{
	
}

h5
{
	mc-heading-level: 0;
}

caption
{
	font-family: 'Keysight Sans Condensed';
}

th
{
	font-family: 'Keysight Sans Condensed';
}

td
{
	font-family: 'Keysight Sans Condensed';
}

tbody
{
	font-family: 'Keysight Sans Condensed';
}

tfoot
{
	font-family: 'Keysight Sans Condensed';
}

col
{
	
}

colgroup
{
	font-family: 'Keysight Sans Condensed';
}

@media print
{
	a:active
	{
		text-decoration: none;
	}

	a:visited
	{
		text-decoration: none;
	}

	MadCap|xref
	{
		color: #e90029;
	}

	a
	{
		text-decoration: none;
	}

	a.popupspot
	{
		text-decoration: none;
	}

	a:focus
	{
		text-decoration: none;
	}

	a:hover
	{
		text-decoration: underline;
	}

	a:link
	{
		text-decoration: none;
	}

	MadCap|conceptLinkControlListItemLink:visited
	{
		color: #891518;
	}

	MadCap|helpControlListItemLink:visited
	{
		color: #891518;
	}

	MadCap|keywordLinkControlListItemLink:visited
	{
		color: #891518;
	}

	MadCap|relatedTopicsControlListItemLink:visited
	{
		color: #891518;
	}

	li.IndentTight
	{
		font-size: 14px;
	}

	li
	{
		font-family: 'Keysight Sans Light';
	}

	h1
	{
		font-weight: normal;
	}

	h2
	{
		font-weight: normal;
	}

	h3
	{
		font-weight: normal;
	}

	p.EnDash
	{
		mc-auto-number-format: '–  ';
		mc-auto-number-offset: 0in;
		mc-auto-number-position: inside-head;
	}
}

p
{
	font-family: 'Keysight Sans Light';
	mc-hyphenate: never;
}

ul.EnDash
{
	
}

ul.EnDash > li::marker
{
	content: '–';
}

p.EnDash
{
	mc-auto-number-format: '–  ';
	mc-auto-number-offset: 0in;
	mc-auto-number-position: inside-head;
	font-size: 14px;
}

p.h1_chapter
{
	
}

