/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1.0px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Kt_Basic;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	max-id: 8;
	border-left-color: #58595b;
	border-right-color: #58595b;
	border-top-color: #58595b;
	border-bottom-color: #58595b;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	name: Column1;
	id: 0;
	separator-color: #58595b;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #58595b;
	background-color: #9c9c9c;
	name: Header1;
	id: 2;
	font-family: 'Keysight Sans Condensed';
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: WhiteRows;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #8f9092;
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #58595b;
	name: Footer1;
	id: 3;
	separator-width: 1px;
	font-size: 10pt;
	font-family: Keysight sans condensed light;
}

mcTableFootStyle
{
	span: 1;
	id: 7;
	name: Footer2;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-Kt_Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #58595b;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #58595b;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #58595b;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #58595b;
	border-bottom-width: 1.0px;
	border-spacing: 0px 0px;
}

.TableStyle-Kt_Basic-Column-Column1
{
	
}

.TableStyle-Kt_Basic-Head-Header1
{
	
}

.TableStyle-Kt_Basic-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #58595b;
	border-bottom-style: solid;
}

.TableStyle-Kt_Basic-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #58595b;
	border-bottom-style: solid;
}

.TableStyle-Kt_Basic-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #58595b;
	border-bottom-style: solid;
}

.TableStyle-Kt_Basic-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
	text-align: left;
	background-color: #9c9c9c;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Keysight Sans Condensed';
	font-weight: bold;
}

.TableStyle-Kt_Basic-Foot-Footer1
{
	
}

.TableStyle-Kt_Basic-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootI-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #58595b;
	border-top-style: solid;
}

.TableStyle-Kt_Basic-FootE-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #58595b;
	border-top-style: solid;
}

.TableStyle-Kt_Basic-FootF-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootH-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #58595b;
	border-top-style: solid;
}

.TableStyle-Kt_Basic-FootD-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootC-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootB-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootA-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-FootG-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Kt_Basic-Foot-Footer2
{
	
}

.TableStyle-Kt_Basic-FootI-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootI-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootE-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootE-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootF-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootF-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootH-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootH-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootD-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootD-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootC-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootC-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootB-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootB-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootA-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootA-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-FootG-Column1-Footer2
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Kt_Basic-FootG-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Kt_Basic-Body-WhiteRows
{
	
}

.TableStyle-Kt_Basic-BodyI-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-BodyI-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyE-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #8f9092;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
}

.TableStyle-Kt_Basic-BodyE-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyF-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #8f9092;
	border-bottom-style: solid;
}

.TableStyle-Kt_Basic-BodyF-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyH-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
}

.TableStyle-Kt_Basic-BodyH-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyD-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #8f9092;
	border-bottom-style: solid;
}

.TableStyle-Kt_Basic-BodyD-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyC-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-BodyC-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyB-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #58595b;
	border-right-style: solid;
}

.TableStyle-Kt_Basic-BodyB-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyA-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-BodyA-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

.TableStyle-Kt_Basic-BodyG-Column1-WhiteRows
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Kt_Basic-BodyG-Column1-WhiteRows p
{
	font-family: 'Keysight Sans Light Condensed';
	font-size: 10pt;
	font-style: inherit;
}

