/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		page-break-inside: avoid;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: NoteTable;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	margin: 10 em;
	max-id: 2;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	font-family: Verdana;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 0;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	font-size: 12px;
	font-family: Verdana;
	color: #000000;
	font-style: normal;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 2;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-NoteTable
	{
		page-break-inside: avoid;
		border-spacing: 0px 0px;
	}
}

.TableStyle-NoteTable
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-NoteTable-Column-Column1
{
	
}

.TableStyle-NoteTable-HeadI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadI-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-HeadE-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadF-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-HeadH-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadD-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadC-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-HeadB-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadA-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-HeadG-Column1- p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-Foot-Footer1
{
	
}

.TableStyle-NoteTable-FootI-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootE-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NoteTable-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootF-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NoteTable-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootH-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootD-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-NoteTable-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootC-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootB-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootA-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootG-Column1-Footer1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-Body-Body1
{
	
}

.TableStyle-NoteTable-BodyI-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyE-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyF-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyH-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyD-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyC-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyB-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteTable-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyA-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyG-Column1-Body1
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-NoteTable-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}


